<mat-toolbar>
  <span>Welcome to myFlix</span>
</mat-toolbar>
<div class="main-page">
<!-- event binding used to invoke the respective functions in the app component when the buttons are clicked -->
  <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
    Register
  </button>
  <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;" color="primary">
    Login
  </button>
  <button mat-raised-button (click)="openProfileDialog()" style="margin-right: 10px;" color="primary">
    Profile
  </button>
  <button mat-raised-button (click)="openFavouritesDialog()" style="margin-right: 10px;" color="primary">
    Favourites
  </button>
</div>
