.mat-toolbar { // Sits outside the welcome-wrapper so it does not become a flex item
  color: #E040FB;
  font-size: x-large;
}

.welcome-wrapper { // Places the main-page container in the center and fills the background space
  background-color: #212121;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.main-page { // Creates a responsive container for the main content
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; // Spaces the flex items neatly 
  width: 400px;
}

h1 {
  color: #1DE9B6;
}

p {
  color: #1DE9B6;
  font-size: 17px;
}

.mat-icon {
  font-size: 22px;
  color: #E040FB;
}

.mat-raised-button {
  color: #1DE9B6;
  width: 150px;
  height: 50px;
  font-size: large;
}