<mat-toolbar color="primary">
  <span id="logo">myFlix</span>
</mat-toolbar>
<div class="welcome-wrapper"> 
  <div class="card-border">
    <mat-card>  
      <mat-card-header>
        <mat-card-title>Welcome to myFlix!</mat-card-title>
      </mat-card-header>
      <div class="content-container">
        <mat-card-content>
          Explore classic movies, find out more about directors and genres and save your favourites! 
          Click register to sign up or login to return to <span>myFlix</span> 
        </mat-card-content>
      </div>
<!-- event binding used to invoke the respective functions in the welcome-page component when the buttons are clicked -->
      <mat-card-actions>   
        <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-left: 10px;" color="primary">
          Register
        </button>
        <button mat-raised-button (click)="openUserLoginDialog()" color="primary">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </div> 
</div>
