<mat-card>
  <mat-card-header>
    <mat-card-title>Update myProfile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
<!-- ngModel directive used to bind the form input values entered by the user to the profileData object in the edit-profile-form component -->
        <input matInput [(ngModel)]="profileData.Username" type="text" placeholder="Username" name="Username" required
          matTooltip="Minimum 5 characters alphanumeric" matTooltipClass="validation"
          aria-label="Input for username with tooltip that displays validation requirements">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="profileData.Password" type = "password" placeholder="Password" name="Password" required
          matTooltip="Minimum 8 characters" matTooltipClass="validation"
          aria-label="Input for password with tooltip that displays validation requirements">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="profileData.Email" type = "email" placeholder="Email" name="Email" required
          matTooltip="Must be valid email address" matTooltipClass="validation"
          aria-label="Input for email with tooltip that displays validation requirements">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="profileData.Birthday" type = "date" placeholder="Birthday" name="Birthday">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
<!-- Event binding used to invoke the updateProfile function in the edit-profile-form component when the button is clicked -->
      <button mat-raised-button (click)="updateProfile()" color="primary">Update</button>
  </mat-card-actions>
</mat-card>
