.movies-container {
  display: flex;
  flex-wrap: wrap; // Allows the movies to display over multiple rows
  justify-content: center;
  margin-top: 50px;
  padding: 100px;
}

.mat-card {
  width: 200px;
  margin: 20px;
}

.mat-card-header {
  text-align: center;
  height: 70px;
}

.mat-card-title {
  color: #E040FB;
  font-size: 18px;
  font-weight: normal;
}

.mat-card-subtitle {
  color: #1DE9B6;
  width: 175px
}

.mat-card img {
  margin-left: 9px;
}

.mat-card-actions {
  display: flex;
  padding: 5px;
  height: 40px;
}

.mat-card-actions > * { // Selects all the child elements and gives them equal space
  flex: 1;
}

.mat-button {
  padding: 0;
}

#director { // This is needed as a small fix to get the director button loooking central
  margin-right: 0;
  margin-left: 16px;
}

.mat-icon-button { // Places the heart icon in the top right-hand corner
  position: absolute;
  right: 0px;
  top: 0px;
} 

