<!-- The ngFor directive is used to loop through the movies array in the component -->
<div style="display: flex">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto">
      <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt={{movie.Title}} />
      <mat-card-actions>
<!-- Event binding used to invoke the relevant functions on the component when the buttons are clicked. The data needed inside the dialogs and for adding/deleting favourties is passed in as parameters to the respective functions -->
        <button mat-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)" color="primary">Genre</button>
        <button mat-button (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)" color="primary">Director</button>
        <button mat-button (click)="openSynopsisDialog(movie.Description)" color="primary">Synopsis</button>
        <button mat-icon-button (click)="addMovieToFavourites(movie._id, movie.Title)" color="warn" aria-label="icon button with a heart icon">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </mat-card-actions>
  </mat-card>
</div>