<!-- The ngFor directive is used to loop through the movies array in the component -->
<div class="movies-container">
  <mat-card *ngFor="let movie of movies">
      <mat-card-header>
        <mat-card-title [ngStyle]="{'font-size.px': fontSizer(movie.Title)}">{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt={{movie.Title}} />
      <mat-card-actions>
<!-- Event binding used to invoke the relevant functions on the component when the buttons are clicked. The data needed inside the dialogs and for adding/deleting favourties is passed in as parameters to the respective functions -->
        <button mat-button (click)="openSynopsisDialog(movie.Title, movie.Description)" color="accent">Synopsis</button>
        <button id="director" mat-button (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)" color="accent">Director</button>
        <button mat-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)" color="accent">Genre</button>
        <button mat-icon-button (click)="toggleFavourite(movie._id, movie.Title)" [color]="toggleHeart(movie._id)" aria-label="icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
  </mat-card>
</div>