<mat-card>
  <mat-card-header>
    <mat-card-title>myProfile</mat-card-title>
  </mat-card-header>
  <mat-card-content><span>Username:</span> {{user.Username}}</mat-card-content>
  <mat-card-content><span>Password:</span> {{user.Password}}</mat-card-content>
  <mat-card-content><span>Email:</span> {{user.Email}}</mat-card-content>
  <mat-card-content><span>Birthday:</span> {{user.Birthday | date}}</mat-card-content>
  <mat-card-actions>
<!-- Event binding used to invoke the functions to open the edit profile dialog and delete the user respectively, when the buttons are clicked -->
    <button mat-button (click)="openEditProfileFormDialog()" color="accent">Edit</button>
    <button mat-button (click)="deleteProfile()" color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
