<div class="profile-container">
  <mat-card>
    <div class="card-border"></div>
    <mat-card-header>
      <mat-card-title>myProfile</mat-card-title>
    </mat-card-header>
    <mat-icon aria-label="Person icon">person</mat-icon>
    <div class="content-container">
      <mat-card-content><span>Username:</span> {{user.Username}}</mat-card-content>
      <mat-card-content><span>Password:</span> {{password}}</mat-card-content>
      <mat-card-content><span>Email:</span> {{user.Email}}</mat-card-content>
      <mat-card-content><span>Birthday:</span> {{user.Birthday | date}}</mat-card-content>
    </div>
    <mat-card-actions>
<!-- Event binding used to invoke the functions to open the edit profile dialog and delete the user respectively, when the buttons are clicked -->
      <button mat-raised-button (click)="openEditProfileFormDialog()" color="primary">Edit</button>
      <button mat-raised-button (click)="deleteProfile()" color="primary">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>