.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 100px;
}

.mat-card {
  width: 240px;
  // To position the card in same place as the first row of movie cards
  margin: 20px;
  // To use a height similar to the movie cards for a consistent appearance 
  height: 325px; 
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding-right: 0px;
  color: #E040FB;
}

// Provides an appearance consistent with other components and forms
.card-border { 
  background-color: #424242;
  width: 300px;
  height: 400px;
  // Ensures the card-border moves with the mat-card when the screen size changes
  position: absolute; 
  top: -20px;
  left: -20px;
  // The border needs to sit underneath the card so that it does not obscure the content
  z-index: -1; 
}

.mat-card-header {
  justify-content: center;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.mat-card-title {
  font-size: x-large;
  padding-right: 20px;
}

.mat-icon {
  // Positions the icon relative to the mat-card
  position: absolute; 
  top: 15px;
  right: 15px;
}

.content-container {
  display: flex;
  flex-direction: column;
  // Long field names will wrap rather than overspill the container
  flex-wrap: wrap;
  height: 170px;
  margin-left: 10px;
}

span {
  color: #1DE9B6;
  font-weight: bold;
}

.mat-card-actions {
  display: flex;
  justify-content: space-evenly;
}

.mat-raised-button {
  color: #1DE9B6;
  width: 80px;
  font-size: 15px;
}