.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 175px;
}

.hidden {
  display: none;
}

#main-toolbar {
  position: fixed;
  // Prevents the content from scrolling on top of the toolbar
  z-index: 1;
}

.content {
  // Prevents the content from scrolling on top of the toolbar
  z-index: 0;
}

/* Styles the toolbar layout so that the title is to the left and the nav buttons are to the right
by creating a space that takes up all available space between them. */
.spacer { 
  flex: 1 1 auto;
}

mat-toolbar button {
  color: #1DE9B6;
  // Removes button appearance by blending the outline in to the toolbar background
  background-color: #5e35b1;
  font-size: large;
}

.title {
  color: #E040FB;
  font-size: x-large;
}

#mobile-menu {
  color: #1DE9B6;
  font-size: 18px;
}

.menu-icons {
  color: #1DE9B6;
}

.menu-buttons {
  background-color: #E040FB;
  border-width: thin;
}