<mat-sidenav-container class="sidenav-container">
<!-- ref used for applying toggle method to open the sidenav -->
  <mat-sidenav 
    #nav 
    class="sidenav"
    [ngClass]="{hidden: !(isHandset | async)!.matches}" 
    [mode]="'over'">
    <mat-toolbar id="mobile-menu" color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <button type="button" class="menu-buttons" mat-list-item aria-label="Click button to navigate to movies" (click)="changeComponentDisplayed('movies')">
        <mat-icon class="menu-icons" aria-label="Video camera icon">videocam</mat-icon>
      </button>
      <button type="button" class="menu-buttons" mat-list-item aria-label="Click button to navigate to profile" (click)="changeComponentDisplayed('profile')">
        <mat-icon class="menu-icons" aria-label="Person icon">person</mat-icon>
      </button>
      <button type="button" class="menu-buttons" mat-list-item aria-label="Click button to navigate to favourite movies" (click)="changeComponentDisplayed('favourites')">
        <mat-icon class="menu-icons" aria-label="Heart icon">favorite</mat-icon>
      </button>
      <button type="button" class="menu-buttons" mat-list-item aria-label="Click button to log out of myFlix" (click)="logout()">
        <mat-icon class="menu-icons" aria-label="Logout icon">logout</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button
        *ngIf="(isHandset | async)!.matches"
        (click)="nav.toggle()">
        <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
      </button>
      <span class="title">myFlix</span>
      <span class="spacer"></span>
      <button *ngIf="!(isHandset | async)!.matches" mat-flat-button (click)="changeComponentDisplayed('movies')">Movies</button>
      <button *ngIf="!(isHandset | async)!.matches" mat-flat-button (click)="changeComponentDisplayed('profile')">myProfile</button>
      <button *ngIf="!(isHandset | async)!.matches" mat-flat-button (click)="changeComponentDisplayed('favourites')">myFavourites</button>
      <button *ngIf="!(isHandset | async)!.matches" mat-flat-button id="logout" (click)="logout()">LogOut</button>
    </mat-toolbar>
    <div [ngSwitch]="componentDisplayed">
      <app-movie-card *ngSwitchCase="'movies'"></app-movie-card>
      <app-profile *ngSwitchCase="'profile'"></app-profile>
      <app-favourites *ngSwitchCase="'favourites'"></app-favourites>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
