.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar button {
  display: inline-block;
  color: #E040FB;
  background-color: #673AB7;
  font-size: large;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#logout {
  color: #ff1744;
}

.title {
  color: #E040FB;
  font-size: x-large;
  font-weight: bolder;
}