// Custom Theming for Angular Material
@use '@angular/material' as mat;
@include mat.core();
// Defines the palettes for my theme using the Material Design palettes available in palette.scss
$myFlix-Angular-client-primary: mat.define-palette(mat.$deep-purple-palette, 600);
$myFlix-Angular-client-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$myFlix-Angular-client-warn: mat.define-palette(mat.$red-palette, A400);
$myFlix-Angular-client-theme: mat.define-dark-theme((
  color: (
    primary: $myFlix-Angular-client-primary,
    accent: $myFlix-Angular-client-accent,
    warn: $myFlix-Angular-client-warn,
  )
));
// Include theme styles for core and each component used in the app
@include mat.all-component-themes($myFlix-Angular-client-theme);
// Global styles
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
